.component {
    width: 0;
    position: sticky;
    bottom: 10px;
    right: 0;
    cursor: pointer;
    opacity: 0.5;
    z-index: 100;
}

.hidden {
    display: none;
}

.component img {
    right: 0;
    width: 40px;
}

.component:hover {
    opacity: 1;
}